server {
    listen 80;
    access_log /var/log/nginx/grafana.access.log;
    error_log /var/log/nginx/grafana.error.log;

    location / {
         proxy_pass http://{{grafana_domain}}:{{grafana_http_port}};
     }

}
